beautifulsoup4==4.8.1
bleak==0.5.1
bluetool==0.2.3
certifi==2019.9.11
chardet==3.0.4
docopt==0.6.2
docutils==0.15.2
idna==2.8
Js2Py==0.66
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
packaging==19.2
pipwin==0.4.6
PyAudio==0.2.11
Pygments==2.4.2
pyjsparser==2.7.1
pyparsing==2.4.5
PyPrind==2.11.2
pythonnet==2.4.0
pytz==2019.3
requests==2.22.0
robobrowser==0.5.3
six==1.13.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
tcpbridge==1.1.1
tzlocal==2.0.0
urllib3==1.25.8
Werkzeug==0.16.0
